.landing-page-wrapper {
    display: flex;
    flex-direction: column;
}

.art-grid-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}

.vote-button {
    text-align: center;
}

.artwork-popup {
    flex-direction: column!important; 
    /* OVERRIDES SEMANTIC-UI MODAL DEFAULT FLEX-DIRECTION: ROW */
    text-align: right;
}