.admin-portal-wrapper {
    text-align: center;
}

.admin-portal-wrapper > section {
    /* border: 1px dotted black; */
    margin: 0 0 2em;
    padding: 1em;
}

.new-image-wrapper {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.new-image-wrapper > div {
    width: 100%;
    height: auto;
}

.all-inputs {
    display: flex;
    flex-direction: row;
}

.all-inputs > div {
    width: 50%;
    height: auto;
    margin: auto;
}

.text-inputs {
    display: flex;
    flex-direction: column;
}

.text-inputs > div {
    padding: .5rem 0;
}

.text-inputs label {
    padding-right: 1rem;
}

.chart-wrapper {
    width: 90%;
    height: auto;
    border: 1px dotted black;
    margin: .5rem auto;
}

.ui.button {
    margin: .5rem 0;
}

.upload-div {
    margin: 0 auto;
    width: 50%;
}

.react-dropzone-s3-uploader {
    width: 100% !important;
}

.uploaded-image {
    margin: 0 auto;
}

.admin-upload {
    border: 1px solid black;
}