.ui.card>:last-child,
.ui.cards>.card>:last-child {
    border-radius: 0 !important;
    margin-bottom: 2rem;
}

.ui.basic.modal>.content {
    text-align: right!important;
}

@media screen and (min-width: 767px) {

    .img-wrapper {
        height: 30rem;
        width: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .img-wrapper img {
        height: 100%;
        max-width: none!important;
    }
}