@import url('https://fonts.googleapis.com/css?family=Alata|Paytone+One|Permanent+Marker&display=swap');

*, *::before, *::after { box-sizing: inherit; }

html {
    box-sizing: border-box;
}

h1, .header {
    /* OVERRIDES SEMANTIC-UI DEFAULT HEADER FONT */
    font-family: 'Permanent Marker', cursive!important;
    font-size: 4em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Paytone One', sans-serif;
}

body {
    font-family: 'Alata', sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.container-wrapper {
    background-color: #3F8ADE;
    padding-bottom: 50px;
}
.container {
    margin: 0 50px;
    padding: 25px;
    background-color: white;
}

/* OVERRIDES SEMANTIC DEFAULT BOX-SHADOW */
.ui.cards .card {
    box-shadow: none!important;
}

/* for use on various modals */
/* overrides transparent background setting for .ui.dimmer */
.inverted-dimmer {
    background-color: rgba(255, 255, 255, .90) !important;
}

/* overrides transparent background setting for .ui.dimmer */
.blurring.dimmable>.dimmer {
    background-color: rgba(0, 0, 0, .9) !important;
}

.ui.basic.modal>.content {
    text-align: center;
}

/* overrides .ui.basic.modal settings */
.centered-modal .header, .centered-modal h4 {
    text-align: center!important;
}

.centered-modal .description {
    text-align: left !important;
}

@media only screen and (max-width: 799px) {
    .nav {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-nav {
        display: none;
    }
}
