footer {
    background-color: #222;
    color: #eee;
    /* line-height: 1.5; */
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

footer > section {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    /* Size of items defined inside items */
    text-align: center;
    padding: 1.25em;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
    color: rgb(206, 15, 24)
}

.logo /* the img tag */ {
    max-width: 25vw;
    width: auto;
    max-height: 4em;
}

.ft-logo {
    justify-content: left;
}

.ft-main {
    width: 50%;
}

.ft-social {
    justify-content: right;
}

.ft-social-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* border-left: 1px #777 solid; */
    /* padding-left: 1.25rem; */
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

/* .ft-title {
    color: #eee;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
} */

/* adjustments for mobile views */
@media only screen and (max-width: 400px) {
    .logo {
        max-width: 90vw;
    }

    footer>section {
        width: 100%;
        padding: 2em;
    }
}