footer {
    background-color: #222;
    color: #eee;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer > section {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    /* Size of items defined inside items */
    text-align: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
    color: rgb(206, 15, 24)
}

.logo /* the img tag */ {
    width: 25vw;
    height: auto;
}

@media only screen and (max-width: 400px) {
    .logo {
        width: 100vw;
    }
}

/* .ft-social {
    padding: 0 1.875rem 1.25rem;
} */

.ft-social-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* border-left: 1px #777 solid; */
    /* padding-left: 1.25rem; */
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

/* .ft-title {
    color: #eee;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
} */
