/* OVERRIDE SEMANTIC DEFAULTS */
.vote-btn {
    box-shadow: none!important;
    border-top: 1px solid lightgray !important;
}

.vote-btn:hover {
    text-decoration: underline;
}

@media screen and (min-width: 767px) {

    .img-wrapper {
        height: 30rem;
        width: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    
    /* OVERRIDES SEMANTIC IMAGE DEFAULTS */
    .img-wrapper img {
        height: 100%;
        max-width: none!important;
        /* min-width: 100%; */
        /* width: auto */
        /* height: auto; */
    }
}