.nav {
  overflow: hidden;
  background-color: #3f8ade;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.logo-img-wrapper {
  margin-top: 1rem;
  padding: 1rem;
  /* width: 100%; */
}

.nav-logo {
  max-width: 25vw;
  width: 258px;
  max-height: 4em;
}

.nav-links-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 20px;
  text-decoration: none;
  font-size: 15px;
}

.nav-link:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

.nav-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

/* Social Links */ 
.nav-social .ft-social-list li a {
  color: white;
}
.nav-social .ft-social-list li a:hover{
  color: rgb(206, 15, 24);
}
